.app{

}
.todolists{
  display: flex;
  flex-direction: row;
}
.todolist{
  margin: 10px;
}

.buttonActive{
  background-color: #4fa9a9;
}

.NavBar{
}

.ErrorBar{
  width: 50%;
  margin: 0 auto;
}
.wishList{
  margin: 0 auto;
}
.Btn{
  display: flex;
}